{% extends "enexx/base.html" %}
{% load crispy_forms_tags %}

{% block contenidoBase %}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3 ">
        <div class="card contenedorRegistro">
            <div class="card-body ">
                <h2>Iniciar Sesión</h2>
                <hr>
                <form action="" method="post" >
                    {% csrf_token %}
                    {{ form | crispy }}
                    <hr>
                    <p>¿aun no tienes una cuenta?<a href="{% url 'registro'%}"> registrate aqui!</a></p>
                    <input type="submit" value="Ingresar" class="btn boton-reg">
                </form>
            </div>
        </div>
    </div>
</div>

  {% endblock %}