<div class="contenedorBotones"> 
    <div class="contenedorBot2">
      <div class="btn-group">
        <div class="separadorBoton1">
          <button type="button" class="btn btn-ps5 dropdown-toggle btn-lg border-0 font-weight-bold" data-toggle="dropdown" aria-expanded="false">
            Ps5
          </button>
            <div class="dropdown-menu textoBoton">
              <a class="dropdown-item" href="ps5">Juegos fisicos</a>
              <a class="dropdown-item" href="ps5digital">Juegos digitales</a>
              <a class="dropdown-item" href="ps5dlc">DLC</a>
            </div>
        </div>
      </div>
      <div class="btn-group">
        <div class="separadorBoton1">
          <button type="button" class="btn btn-xbox dropdown-toggle btn-lg border-0 font-weight-bold" data-toggle="dropdown" aria-expanded="false">
            Xbox
          </button>
          <div class="dropdown-menu textoBoton">
            <a class="dropdown-item" href="xbox_fisicos">Juegos fisicos</a>
            <a class="dropdown-item" href="xbox_digital">Juegos digitales</a>
            <a class="dropdown-item" href="xbox_dlc">DLC</a>
          </div>
        </div>
      </div>
      <div class="btn-group">
          <div class="separadorBoton1">
            <button type="button" class="btn btn-switch dropdown-toggle btn-lg border-0 font-weight-bold" data-toggle="dropdown" aria-expanded="true">
              Nintendo switch
            </button>
            <div class="dropdown-menu textoBoton">
              <a class="dropdown-item" href="Switch">Juegos fisicos</a>
              <a class="dropdown-item" href="Switch_digital">Juegos digitales</a>
              <a class="dropdown-item" href="Switch_dlc">DLC</a>
            </div>
          </div>
      </div>
    </div>
                         
  </div>