{% extends 'enexx/index.html' %}
{% block contenidoBody %}
{% load static %} 

  <div class="fondo">
    <div class="productos">
      <section class="contenedorFiltro d-none d-sm-none d-md-block" >
        <div class="container">
          <h5>Categorias</h5>
          <button class="botonValor" id="todos">Todos</button><br>
          <button class="botonValor" id="solo">Solo Jugador</button><br>
          <button class="botonValor" id="multi">Multi Jugador</button><br>
          <button class="botonValor" id="1stp">Primera Persona</button><br>
          <button class="botonValor" id="accion">Accion</button><br>
          <button class="botonValor" id="aventura">Aventura</button><br>
          <button class="botonValor" id="casual">Casual</button><br>
          <button class="botonValor" id="fps">FPS</button><br>
          <button class="botonValor" id="estrategia">Estrategia</button><br>
          <button class="botonValor" id="rpg">RPG</button><br>
          <button class="botonValor" id="plataforma">Plataforma</button><br>
          <button class="botonValor" id="horror">Horror</button><br>
          <button class="botonValor" id="deportes">Deportes</button><br>
          <button class="botonValor" id="carrera">Carreras</button><br>
          <button class="botonValor" id="lucha">Lucha</button><br>
          <button class="botonValor" id="arcade">Arcade</button><br>
          <button class="botonValor" id="vr">VR</button><br>
    
        </div>
      </section>
      <!--Contenedores de los juegos-->
          <div class="contenedorJuegos">
              <div class="card solo accion aventura">
                <img src="{% static 'enexx/img/ps5/horizon.jpg'%}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Horizon forbidden west</h5>
                  <p class="card-text">$59990</p>
                  <!--<div class="ajusteBoton">-->
                  <button class="btn-add-cart">Comprar</button>
                  <!--</div>-->

                </div>
              </div>
    
              <div class="card solo accion horror">
                <img src="{% static 'enexx/img/ps5/demonsouls.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Demon Souls remake</h5>
                  <p class="card-text">$47990</p>
                  <!--<div class="ajusteBoton">-->
                  <button class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
    
              <div class="card solo accion aventura">
                <img src="{% static 'enexx/img/ps5/godofwar.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">God of War Ragnarok </h5>
                  <p class="card-text">$57990</p>
                  <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
              <div class="card multi carrera deporte">
                <img src="{% static 'enexx/img/ps5/granturismo.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gran Turismo 7 </h5>
                  <p class="card-text">$49990</p>
                  <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
              <div class="card multi accion lucha">
                <img src="{% static 'enexx/img/ps5/mk11ultimate.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mortal Kombat 11 ultimate </h5>
                  <p class="card-text">$39990</p>
                  <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
              <div class="card 1stp accion aventura">
                <img src="{% static 'enexx/img/ps5/cyberpunk2077.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CyberPunk 2077 </h5>
                  <p class="card-text">$29990</p>
                  <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
              <div class="card solo accion aventura">
                <img src="{% static 'enexx/img/ps5/stray.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Stray </h5>
                  <p class="card-text">$29990</p>
                  <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
              <div class="card solo accion horror">
                <img src="{% static 'enexx/img/ps5/residentevil4.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Resident Evil 4 </h5>
                  <p class="card-text">$59990</p>
                  <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
    
            </div>
            <!--Fin contenedor de juegos-->
    </div>
  </div>
<!--Fin contenedor de productos-->
{% endblock %} 



