{% extends 'enexx/index.html' %}
{% block contenidoBody %}
{% load static %} 

  <div class="fondo">
    <div class="productos">
      <section class="contenedorFiltro d-none d-sm-none d-md-block" >
        <div class="container">
          <h5>Categorias</h5>
          <button class="botonValor" id="todos">Todos</button><br>
          <button class="botonValor" id="solo">Solo Jugador</button><br>
          <button class="botonValor" id="multi">Multi Jugador</button><br>
          <button class="botonValor" id="1stp">Primera Persona</button><br>
          <button class="botonValor" id="accion">Accion</button><br>
          <button class="botonValor" id="aventura">Aventura</button><br>
          <button class="botonValor" id="casual">Casual</button><br>
          <button class="botonValor" id="fps">FPS</button><br>
          <button class="botonValor" id="estrategia">Estrategia</button><br>
          <button class="botonValor" id="rpg">RPG</button><br>
          <button class="botonValor" id="plataforma">Plataforma</button><br>
          <button class="botonValor" id="horror">Horror</button><br>
          <button class="botonValor" id="deportes">Deportes</button><br>
          <button class="botonValor" id="carrera">Carreras</button><br>
          <button class="botonValor" id="lucha">Lucha</button><br>
          <button class="botonValor" id="arcade">Arcade</button><br>
          <button class="botonValor" id="vr">VR</button><br>
        </div>
      </section>
      <!--Contenedores de los juegos-->
    {% load humanize %}
      <div class="contenedorJuegos"> 
    {% for juego in juego %}    
      <div class="card {{juego.genero}}">
                {% if juego.imagen %}                       
                <img src="{{juego.imagen.url}}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ juego.nombre | title }}</h5>
                  <p class="card-text">${{ juego.precio | intcomma}}</p>               
                  <button class="btn-add-cart">Comprar</button>                 
                </div>
            </div> 
    {% endfor %}           
        </div>
        
            <!--Fin contenedor de juegos-->
    </div>
  </div>
<!--Fin contenedor de productos-->
{% endblock %} 



