{% extends 'enexx/index.html' %}
{% block contenidoBody %}
{% load static %} 

<div class="fondo">
  <div class="productos">
      <section class="contenedorFiltro d-none d-sm-none d-md-block" >
        <div class="container">
          <h5>Categorias</h5>
          <button class="botonValor" id="todos">Todos</button><br>
          <button class="botonValor" id="solo">Solo Jugador</button><br>
          <button class="botonValor" id="multi">Multi Jugador</button><br>
          <button class="botonValor" id="1stp">Primera Persona</button><br>
          <button class="botonValor" id="accion">Accion</button><br>
          <button class="botonValor" id="aventura">Aventura</button><br>
          <button class="botonValor" id="casual">Casual</button><br>
          <button class="botonValor" id="fps">FPS</button><br>
          <button class="botonValor" id="estrategia">Estrategia</button><br>
          <button class="botonValor" id="rpg">RPG</button><br>
          <button class="botonValor" id="plataforma">Plataforma</button><br>
          <button class="botonValor" id="horror">Horror</button><br>
          <button class="botonValor" id="deportes">Deportes</button><br>
          <button class="botonValor" id="carrera">Carreras</button><br>
          <button class="botonValor" id="lucha">Lucha</button><br>
          <button class="botonValor" id="arcade">Arcade</button><br>
          <button class="botonValor" id="vr">VR</button><br>
  
        </div>
  
  
      </section>
      <!--Contenedores de los juegos-->
          <section class="contenedorJuegos">
              <div class="card solo aventura">
                <img src="{% static 'enexx/img/ps5/hogwarts.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hogwarts Legacy</h5>
                  <p class="card-text">$59990</p>
                  <!--<div class="ajusteBoton">-->
                    <button class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
  
              <div class="card solo aventura accion">
                <img src="{% static 'enexx/img/ps5/acvalhalla.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Assassin's Creed Valhalla</h5>
                  <p class="card-text">$39990</p>
                  <!--<div class="ajusteBoton">-->
                    <button class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
  
              <div class="card multi accion lucha">
                <img src="{% static 'enexx/img/ps5/tekken8.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tekken 8 </h5>
                  <p class="card-text">$48990</p>
                  <!--<div class="ajusteBoton">-->
                    <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
  
              <div class="card solo accion aventura">
                <img src="{% static 'enexx/img/ps5/reddeadredemption2.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Red dead redemption 2</h5>
                  <p class="card-text">$49990</p>
                  <!--<div class="ajusteBoton">-->
                    <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
  
              <div class="card solo accion horror">
                <img src="{% static 'enexx/img/ps5/residentevil2.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Resident Evil 2</h5>
                  <p class="card-text">$59990</p>
                  <!--<div class="ajusteBoton">-->
                    <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
  
              <div class="card casual aventura">
                <img src="{% static 'enexx/img/ps5/crash.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Crash Team Rumble </h5>
                  <p class="card-text">$19990</p>
                  <!--<div class="ajusteBoton">-->
                    <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
  
              <div class="card accion casual aventura">
                <img src="{% static 'enexx/img/ps5/minecraftlegens.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Minecraft Legends</h5>
                  <p class="card-text">$29990</p>
                  <!--<div class="ajusteBoton">-->
                    <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
  
              <div class="card multi aventura accion">
                <img src="{% static 'enexx/img/ps5/gta5.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Grand theft auto V</h5>
                  <p class="card-text">$39990</p>
                  <!--<div class="ajusteBoton">-->
                    <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
          </section>
          <!--FIN Contenedores de los juegos-->
  </div>
</div> 

{% endblock %} 
