{% extends 'enexx/index.html' %}
{% block contenidoBody %}
{% load static %} 

<div class="fondo">
  <div class="productos">
    <section class="contenedorFiltro d-none d-sm-none d-md-block" >

      <div class="container">
        <h5>Categorias</h5>
        <button class="botonValor" id="todos">Todos</button><br>
        <button class="botonValor" id="solo">Solo Jugador</button><br>
        <button class="botonValor" id="multi">Multi Jogador</button><br>
        <button class="botonValor" id="1stp">Primera Persona</button><br>
        <button class="botonValor" id="accion">Accion</button><br>
        <button class="botonValor" id="aventura">Aventura</button><br>
        <button class="botonValor" id="casual">Casual</button><br>
        <button class="botonValor" id="fps">FPS</button><br>
        <button class="botonValor" id="estrategia">Estrategia</button><br>
        <button class="botonValor" id="rpg">RPG</button><br>
        <button class="botonValor" id="plataforma">Plataforma</button><br>
        <button class="botonValor" id="horror">Horror</button><br>
        <button class="botonValor" id="deportes">Deportes</button><br>
        <button class="botonValor" id="carrera">Carreras</button><br>
        <button class="botonValor" id="lucha">Lucha</button><br>
        <button class="botonValor" id="arcade">Arcade</button><br>
        <button class="botonValor" id="vr">VR</button><br>
  
      </div>
    </section>

    <!--Contenedores de los juegos-->
        <section class="contenedorJuegos">
            <div class="card" id="aventura">
              <img src="{% static 'enexx/img/ps5/dlc/destiny.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Destiny</h5>
                <p class="card-text">$9990</p>
                <!--<div class="ajusteBoton">-->
                <button class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="lucha">  
              <img src="{% static 'enexx/img/ps5/dlc/mk11pack.jpeg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MK Pack</h5>
                <p class="card-text">$10990</p>
                <!--<div class="ajusteBoton">-->
                 <button class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="accion">
              <img src="{% static 'enexx/img/ps5/dlc/acvalhallaseason.jpeg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">AC ValhallaSeason pass </h5>
                <p class="card-text">$9990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="lucha">
              <img src="{% static 'enexx/img/ps5/dlc/dbfz.jpeg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Fighter Z pass 2 </h5>
                <p class="card-text"> $14.990</p>
                  <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
              </div>
            </div>
            <div class="card" id="accion">
              <img src="{% static 'enexx/img/ps5/dlc/acoriginsseason.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Assassin's creed Origins Season pass </h5>
                <p class="card-text"> $17.990</p>
                  <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
              </div>
            </div>
            <div class="card" id="aventura">
              <img src="{% static 'enexx/img/ps5/dlc/tw3pass.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">The witcher 3 Season pass </h5>
                <p class="card-text"> $9.990</p>
                  <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
              </div>
            </div>
            <div class="card" id="horror">
              <img src="{% static 'enexx/img/ps5/dlc/re2keyblobal.jpeg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Resident Evil 2 Key Global </h5>
                <p class="card-text"> $9.990</p>
                  <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
              </div>
            </div>
            <div class="card" id="horror">
              <img src="{% static 'enexx/img/ps5/dlc/traumapack.jpeg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Resident Evil Village Trauma Pack </h5>
                <p class="card-text"> $12.990</p>
                  <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
              </div>
            </div>
        </section>
  
  </div>
</div>
{% endblock %} 