{% extends 'enexx/index.html' %}
{% block contenidoBody %}
{% load static %} 

<div class="fondo">
  <div class="productos">
    <section class="contenedorFiltro d-none d-sm-none d-md-block" >
      <div class="container">
        <h5>Categorias</h5>
        <button class="botonValor" id="todos">Todos</button><br>
        <button class="botonValor" id="solo">Solo Jugador</button><br>
        <button class="botonValor" id="multi">Multi Jugador</button><br>
        <button class="botonValor" id="1stp">Primera Persona</button><br>
        <button class="botonValor" id="accion">Accion</button><br>
        <button class="botonValor" id="aventura">Aventura</button><br>
        <button class="botonValor" id="casual">Casual</button><br>
        <button class="botonValor" id="fps">FPS</button><br>
        <button class="botonValor" id="estrategia">Estrategia</button><br>
        <button class="botonValor" id="rpg">RPG</button><br>
        <button class="botonValor" id="plataforma">Plataforma</button><br>
        <button class="botonValor" id="horror">Horror</button><br>
        <button class="botonValor" id="deportes">Deportes</button><br>
        <button class="botonValor" id="carrera">Carreras</button><br>
        <button class="botonValor" id="lucha">Lucha</button><br>
        <button class="botonValor" id="arcade">Arcade</button><br>
        <button class="botonValor" id="vr">VR</button><br>
  
      </div>
    </section>
    <!--Contenedores de los juegos-->
        <section class="contenedorJuegos">
            <div class="card" id="estrategia">
                <img src="img/switch/dlc/FE3HSS.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Fire Emblem Three Houses - Season Pass</h5>
                  <p class="card-text">$20.000</p>
                  <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
  
              <div class="card" id="estrategia">
                <img src="img/switch/dlc/FEESS.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Fire Emblem Engage - Season Pass</h5>
                  <p class="card-text">$20.000</p>
                  <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
  
              <div class="card" id="lucha">
                <img src="img/switch/dlc/SSBU-FP.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Super Smash Bros. - Fighter Pass</h5>
                  <p class="card-text">$20.000</p>
                  <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
              </div>
  
              <div class="card" id="aventura">
                <img src="img/switch/dlc/XB2EP.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Xenoblade 2 - Expansion Pack</h5>
                  <p class="card-text">$16.990</p>
                  <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                  <!--</div>-->
                </div>
  
              </div>
        </section>
  </div>
</div>

{% endblock %} 
