{% extends 'enexx/index.html' %}
{% block contenidoBody %}
{% load static %} 

<div class="fondo">
  <div class="productos">
      <section class="contenedorFiltro d-none d-sm-none d-md-block" >
  
        <div class="container">
          <h5>Categorias</h5>
          <button class="botonValor" id="todos">Todos</button><br>
          <button class="botonValor" id="solo">Solo Jugador</button><br>
          <button class="botonValor" id="multi">Multi Jugador</button><br>
          <button class="botonValor" id="1stp">Primera Persona</button><br>
          <button class="botonValor" id="accion">Accion</button><br>
          <button class="botonValor" id="aventura">Aventura</button><br>
          <button class="botonValor" id="casual">Casual</button><br>
          <button class="botonValor" id="fps">FPS</button><br>
          <button class="botonValor" id="estrategia">Estrategia</button><br>
          <button class="botonValor" id="rpg">RPG</button><br>
          <button class="botonValor" id="plataforma">Plataforma</button><br>
          <button class="botonValor" id="horror">Horror</button><br>
          <button class="botonValor" id="deportes">Deportes</button><br>
          <button class="botonValor" id="carrera">Carreras</button><br>
          <button class="botonValor" id="lucha">Lucha</button><br>
          <button class="botonValor" id="arcade">Arcade</button><br>
          <button class="botonValor" id="vr">VR</button><br>
        </div>
  
      </section>
  
      <!--Contenedores de los juegos-->
          <section class="contenedorJuegos">
            <div class="card" id="carrera">
              <img src="img/switch/mairoKart.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Mario Kart 8 Deluxe</h5>
                <p class="card-text">$49.990</p>
                    <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                    <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="aventura">
              <img src="img/switch/Zelda.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">The Legend of Zelda Breath of the Wild</h5>
                <p class="card-text">$44.990</p>
                    <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                    <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="lucha">
              <img src="img/switch/SSBU.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Super Smash Bros. Ultimate</h5>
                <p class="card-text">$49.990</p>
                    <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                    <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="aventura">
              <img src="img/switch/PokemonLA.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Pokémon Legend Arceus</h5>
                <p class="card-text">$44.990</p>
                    <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                    <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="accion">
              <img src="img/switch/splatoon3.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Splatoon 3</h5>
                <p class="card-text">$45.900</p>
                    <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                    <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="plataforma">
              <img src="img/switch/MetroidDread.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Metroid Dread</h5>
                <p class="card-text">$51.990</p>
                    <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                    <!--</div>-->
              </div>
            </div>
  
            <div class="card"  id="aventura">
              <img src="img/switch/MarioOd.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Super Mario Odyssey</h5>
                <p class="card-text">$51.990</p>
                    <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                    <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="horror">
              <img src="img/switch/LuigiM.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Luigi's Mansion 3</h5>
                <p class="card-text">$</p>
                    <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                    <!--</div>-->
              </div>
            </div>
          </section>
          <!--FIN Contenedores de los juegos-->
  </div>
</div>

{% endblock %}  

