{% extends 'enexx/index.html' %}
{% block contenidoBody %}
{% load static %} 

<div class="fondo">
  <div class="productos">
  <section class="contenedorFiltro d-none d-sm-none d-md-block" >
    <div class="container">
      <h5>Categorias</h5>
      <button class="botonValor" id="todos">Todos</button><br>
      <button class="botonValor" id="solo">Solo Jugador</button><br>
      <button class="botonValor" id="multi">Multi Jugador</button><br>
      <button class="botonValor" id="1stp">Primera Persona</button><br>
      <button class="botonValor" id="accion">Accion</button><br>
      <button class="botonValor" id="aventura">Aventura</button><br>
      <button class="botonValor" id="casual">Casual</button><br>
      <button class="botonValor" id="fps">FPS</button><br>
      <button class="botonValor" id="estrategia">Estrategia</button><br>
      <button class="botonValor" id="rpg">RPG</button><br>
      <button class="botonValor" id="plataforma">Plataforma</button><br>
      <button class="botonValor" id="horror">Horror</button><br>
      <button class="botonValor" id="deportes">Deportes</button><br>
      <button class="botonValor" id="carrera">Carreras</button><br>
      <button class="botonValor" id="lucha">Lucha</button><br>
      <button class="botonValor" id="arcade">Arcade</button><br>
      <button class="botonValor" id="vr">VR</button><br>
  
    </div>
  </section>
  
  <!--Contenedores de los juegos-->
      <section class="contenedorJuegos">
          <div class="card" id="carrera">
              <img src="#" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Mario Kart 8 Deluxe</h5>
                <p class="card-text">$26.990</p>
                <!--<div class="ajusteBoton">-->
                  <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="lucha">
              <img src="#" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Super Smash Bros. Ultimate</h5>
                <p class="card-text">$29.990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="deportes">
              <img src="#" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Mario Strikers Battle League</h5>
                <p class="card-text">$24.990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="aventura">
              <img src="#" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Pokémon Scarlet</h5>
                <p class="card-text">$35.990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="plataforma">
              <img src="#" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Terraria</h5>
                <p class="card-text">$9.990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="plataforma">
              <img src="#" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Hollow Knight</h5>
                <p class="card-text">$11.990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="estrategia">
              <img src="#" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Fire Emblem</h5>
                <p class="card-text">$29.990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="aventura">
              <img src="#" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Pokémon Violet</h5>
                <p class="card-text">$35.990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
      </section>
  </div>
</div> 

{% endblock %} 
