{% extends 'enexx/index.html' %}
{% block contenidoBody %}
{% load static %} 

<div class="fondo"> 
  <div class="productos">
      <section class="contenedorFiltro d-none d-sm-none d-md-block" >
        <div class="container">
          <h5>Categorias</h5>
          <button class="botonValor" id="todos">Todos</button><br>
          <button class="botonValor" id="solo">Solo Jugador</button><br>
          <button class="botonValor" id="multi">Multi Jugador</button><br>
          <button class="botonValor" id="1stp">Primera Persona</button><br>
          <button class="botonValor" id="accion">Accion</button><br>
          <button class="botonValor" id="aventura">Aventura</button><br>
          <button class="botonValor" id="casual">Casual</button><br>
          <button class="botonValor" id="fps">FPS</button><br>
          <button class="botonValor" id="estrategia">Estrategia</button><br>
          <button class="botonValor" id="rpg">RPG</button><br>
          <button class="botonValor" id="plataforma">Plataforma</button><br>
          <button class="botonValor" id="horror">Horror</button><br>
          <button class="botonValor" id="deportes">Deportes</button><br>
          <button class="botonValor" id="carrera">Carreras</button><br>
          <button class="botonValor" id="lucha">Lucha</button><br>
          <button class="botonValor" id="arcade">Arcade</button><br>
          <button class="botonValor" id="vr">VR</button><br>
  
        </div>
      </section>
  
      <!--Contenedores de los juegos-->
          <section class="contenedorJuegos">
              <div class="card" id="1stp">
                  <img src="img/xbox/cyberpunk.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Cyberpunk 2077</h5>
                    <p class="card-text">$56.000</p>
                    <!--<div class="ajusteBoton">-->
                    <button  class="btn-add-cart">Comprar</button>
                    <!--</div>-->
                  </div>
                </div>
  
            <div class="card" id="accion">
              <img src="img/xbox/eldering.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Elder Ring</h5>
                <p class="card-text">$49.990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="fps">
              <img src="img/xbox/Halo5.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Halo 5 Guardians</h5>
                <p class="card-text">$44.990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card" id="fps">
              <img src="img/xbox/haloW2.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Halo Wars 2</h5>
                <p class="card-text">$</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card"  id="aventura">
              <img src="img/xbox/marvelGuardians.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Marvel Guardians of the Galaxy</h5>
                <p class="card-text">$</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card"  id="accion">
              <img src="img/xbox/assassinOrigin.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Assassin's Greed Origin Deluxe Edition</h5>
                <p class="card-text">$</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card"  id="lucha">
              <img src="img/xbox/dragonBallXeno2.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Dragon Ball Xenoverse II</h5>
                <p class="card-text">$</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
  
            <div class="card"  id="aventura">
              <img src="img/xbox/minecraft.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Minecraft Legends</h5>
                <p class="card-text">$</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
          </section>
  </div>
</div> 

{% endblock %} 
  