{% extends 'enexx/index.html' %}
{% block contenidoBody %}
{% load static %}

<div class="productos">
    <section class="contenedorFiltro d-none d-sm-none d-md-block" >
      <div class="container">
        <h5>Categorias</h5>
        <button class="botonValor" id="todos">Todos</button><br>
        <button class="botonValor" id="solo">Solo Jugador</button><br>
        <button class="botonValor" id="multi">Multi Jugador</button><br>
        <button class="botonValor" id="1stp">Primera Persona</button><br>
        <button class="botonValor" id="accion">Accion</button><br>
        <button class="botonValor" id="aventura">Aventura</button><br>
        <button class="botonValor" id="casual">Casual</button><br>
        <button class="botonValor" id="fps">FPS</button><br>
        <button class="botonValor" id="estrategia">Estrategia</button><br>
        <button class="botonValor" id="rpg">RPG</button><br>
        <button class="botonValor" id="plataforma">Plataforma</button><br>
        <button class="botonValor" id="horror">Horror</button><br>
        <button class="botonValor" id="deportes">Deportes</button><br>
        <button class="botonValor" id="carrera">Carreras</button><br>
        <button class="botonValor" id="lucha">Lucha</button><br>
        <button class="botonValor" id="arcade">Arcade</button><br>
        <button class="botonValor" id="vr">VR</button><br>
        
      </div>    
    </section>

    <!--Contenedores de los juegos-->
        <div class="contenedorJuegos">
            <div class="card" id="1stp">
              <img src="img/xbox/cyberpunk.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cyberpunk 2077</h5>
                <p class="card-text">$56990</p>
                <!--<div class="ajusteBoton">-->
                <button class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
          
                      
            <div class="card" id="accion">
              <img src="img/xbox/GTA_SA.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">GTA San andreas</h5>
                <p class="card-text">$19990</p>
                <!--<div class="ajusteBoton">-->
                <button class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>
          
                    
            <div class="card" id="accion">
              <img src="img/xbox/GTAV.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">GTA V </h5>
                <p class="card-text">$39990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>

            <div class="card" id="aventura">
              <img src="img/xbox/Halo5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Halo 5 Guardians</h5>
                <p class="card-text">$49990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>                      
            </div>

            <div class="card" id="fps">
              <img src="img/xbox/reddead2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Red Dead Redemption 2 </h5>
                <p class="card-text">$39990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>

            <div class="card" id="carrera">
              <img src="img/xbox/gears4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Gear of War 4</h5>
                <p class="card-text">$34990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>

            <div class="card" id="accion">
              <img src="img/xbox/need4speed.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Need for Speed Rivals</h5>
                <p class="card-text">$29990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>

            <div class="card" id="fps">
              <img src="img/xbox/eldering.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Elden Ring</h5>
                <p class="card-text">$49990</p>
                <!--<div class="ajusteBoton">-->
                <button  class="btn-add-cart">Comprar</button>
                <!--</div>-->
              </div>
            </div>

        </div>
</div>
  
  {% endblock %}