{% extends "enexx/base.html" %}

{% block contenidoBase %}


{% load humanize %}
      <div class="card contenedor_lista">
        <div class="card-body">
          <h2>Listado de Juegos</h2>
          <hr>
          <table class="table table-responsive table-striped table-hover table-dark ">
            <!-- <i class="d-none d-sm-none d-md-block"></i> -->
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Genero</th>
                <th>Cantidad</th>
                <th>Consola</th>
                <th>Tipo</th>
                <th>Opciones</th>
                
              </tr>
            </thead>
    
            <tbody>
              {% for juego in juegos %}
            
              <tr>
                <td>{{ juego.nombre | title }}</td>
                <td>${{ juego.precio | intcomma }}</td>
                <td>{{ juego.genero | title }}</td>
                <td>{{ juego.cantidad | intcomma }}</td>
                <td>{{ juego.consola | title }}</td>
                <td>{{ juego.tipo | title }}</td>
                <td>
                  {% if perms.enexx.change_juego %}
                  <a href="{% url 'modificarJuego' juego.id %}" class="btn btn-info btn-sm">Editar</a>
                  {% endif %}
                  {% if perms.enexx.delete_juego %}
                  <a href="#" onclick="EliminarJuego({{juego.id}})" class="btn btn-danger btn-sm">Eliminar</a> 
                  {% endif %}
                </td>
              </tr>
    
            {% endfor %}
            </tbody>
            
            
          </table>
          <hr>
          <div>
            {% include 'administrador/paginator.html'%}
          </div>
          <div>
            <a href="menu" class="btn boton-reg">Volver a Menu</a>
          </div>

        </div>
      </div>

{% endblock %}