{% extends "enexx/base.html" %}

{% block contenidoBase %}

<div class="menu-dashboard">
  <!-- TOP MENU -->
  <div class="top-menu">
      
      <div class="toggle">
          <i class='bx bx-menu'></i>
      </div>
  </div>
  <hr>
  <div class="info-usuario">
      <i class="bx bx-user"></i>
      <span class="nombre-usuario">
          {% if user.is_authenticated %}
              {{user.username}}  
          {% endif %}
      </span>
  </div>
  <!-- MENU -->
  <div class="menu">

      <div class="enlace">
          <i class="bx bx-pencil"></i>
          <a href="agregarJuego">Agregar Juego</a>
      </div>

      <div class="enlace">
          <i class="bx bx-notepad"></i>
          <a href="listarJuego">Listar Juego</a>
      </div>

      <div class="enlace">
          <i class="bx bx-power-off"></i>
          <a href="{% url 'logout' %}">Cerrar Sesion</a>
      </div>
  </div>
</div>

{% endblock %}