{% extends "enexx/base.html" %}
{% load crispy_forms_tags %}

{% block contenidoBase %}

<div class="">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card contenedorRegistro">
                <div class="card-body">
                    <h2>Registro de Usuario</h2>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <hr>
                        <p>¿Ya tienes una cuenta?<a href="{% url 'login'%}"> Accede</a></p>
                        <input type="submit" value="Crear Cuenta" class="btn boton-reg">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

  {% endblock %}